table {
  width: 100%;
}

.todo-list-item__buttons{
    margin: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 80px;
   height: 25px;
    
}

.tableContainer{
      height: 400px;
      overflow: auto;
}

@mixin mat-table-columns($columns) {
  .mat-column- {

    @each $colName,
    $props in $columns {

      $width: map-get($props, 'width');

      &#{$colName} {
        flex: $width;
        max-width: $width;

        @if map-has-key($props, 'color') {
          color: map-get($props, 'color');
        }
      }
    }
  }
}

@include mat-table-columns((

    title: (width: 6rem, color: gray),
    description: (width: 12rem),
    author: (width: 3rem),
    priority: (width: 3rem),
    deadline: (width: 5rem),
    actions: (width: 4rem)
));